@page "/customers/edit"
@using Microsoft.EntityFrameworkCore
@using SportsVenueBookings.Domain
@inject IDbContextFactory<SportsVenueBookings.Data.SportsVenueBookingsContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Customers</h2>
<hr />
@if (Customers is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Customers" OnValidSubmit="UpdateCustomers" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Customers.Id" value="@Customers.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Customers.Name" class="form-control" />
                    <ValidationMessage For="() => Customers.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="contactnumber" class="form-label">ContactNumber:</label>
                    <InputNumber id="contactnumber" @bind-Value="Customers.ContactNumber" class="form-control" />
                    <ValidationMessage For="() => Customers.ContactNumber" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="Customers.Email" class="form-control" />
                    <ValidationMessage For="() => Customers.Email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Customers.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Customers.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Customers.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Customers.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Customers.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Customers.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Customers.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Customers.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/customers">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Customers? Customers { get; set; }

    //Create userId string to store the user id, default value is "System".
    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
    @inject AuthenticationStateProvider authenticationStateProvider

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }

        using var context = DbFactory.CreateDbContext();
        Customers ??= await context.Customers.FirstOrDefaultAsync(m => m.Id == Id);

        if (Customers is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateCustomers()
    {
        using var context = DbFactory.CreateDbContext();
        //Set the userId to the UpdatedBy fields.
        Customers.UpdatedBy = userId;
        //Set the DateUpdated fields to the current date and time.
        Customers.DateUpdated = DateTime.Now;
        context.Attach(Customers!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CustomersExists(Customers!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/customers");
    }

    private bool CustomersExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Customers.Any(e => e.Id == id);
    }
}
