@page "/customers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SportsVenueBookings.Domain
@using SportsVenueBookings.Data
@implements IAsyncDisposable
@inject IDbContextFactory<SportsVenueBookings.Data.SportsVenueBookingsContext> DbFactory

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="customers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Customers">
    <PropertyColumn Property="customers => customers.Name" />
    <PropertyColumn Property="customers => customers.ContactNumber" />
    <PropertyColumn Property="customers => customers.Email" />
    <PropertyColumn Property="customers => customers.DateCreated" />
    <PropertyColumn Property="customers => customers.DateUpdated" />
    <PropertyColumn Property="customers => customers.CreatedBy" />
    <PropertyColumn Property="customers => customers.UpdatedBy" />

    <TemplateColumn Context="customers">
        <a href="@($"customers/edit?id={customers.Id}")">Edit</a> |
        <a href="@($"customers/details?id={customers.Id}")">Details</a>
        <AuthorizeView Roles="Administrator">
        | <a href="@($"customers/delete?id={customers.Id}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private SportsVenueBookingsContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
