@page "/venues"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SportsVenueBookings.Domain
@using SportsVenueBookings.Data
@implements IAsyncDisposable
@inject IDbContextFactory<SportsVenueBookings.Data.SportsVenueBookingsContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="venues/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Venue">
    <PropertyColumn Property="venue => venue.CourtNumber" />
    <PropertyColumn Property="venue => venue.Address" />
    <PropertyColumn Property="venue => venue.TimeSlot" />
    <PropertyColumn Property="venue => venue.Availability" />
    <PropertyColumn Property="venue => venue.DateCreated" />
    <PropertyColumn Property="venue => venue.DateUpdated" />
    <PropertyColumn Property="venue => venue.CreatedBy" />
    <PropertyColumn Property="venue => venue.UpdatedBy" />

    <TemplateColumn Context="venue">
        <a href="@($"venues/edit?id={venue.Id}")">Edit</a> |
        <a href="@($"venues/details?id={venue.Id}")">Details</a> |
        <a href="@($"venues/delete?id={venue.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private SportsVenueBookingsContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
